
<!DOCTYPE html>
<html lang="en">
  <style>
  body {
    margin: 0;
  }
  .iframe {
    padding: 0;
    margin: 0;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 50vw;
    height: 50vh;
    float: left;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .opensource {
    background-color: white;
  }
  .enterprise {
    background-color: black;
  }
  .cloud {
    background-color: white;
    width: 100vw;
  }
  </style>
  <body>
    <iframe src="https://oss.degree9.io/" class="iframe opensource"></iframe>
    <iframe src="https://enterprise.degree9.io/" class="iframe enterprise"></iframe>
    <iframe src="https://cloud.degree9.io/" class="iframe cloud"></iframe>
  </body>
